<p id="notice"><%= notice %></p>

<h1>User Widgets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Widgetable type</th>
      <th>Widgetable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_widgets.each do |user_widget| %>
      <tr>
        <td><%= user_widget.user_id %></td>
        <td><%= user_widget.widgetable_type %></td>
        <td><%= user_widget.widgetable_id %></td>
        <td><%= link_to 'Show', user_widget %></td>
        <td><%= link_to 'Edit', edit_user_widget_path(user_widget) %></td>
        <td><%= link_to 'Destroy', user_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Widget', new_user_widget_path %>
