<p id="notice"><%= notice %></p>

<p>
  <strong>Color position:</strong>
  <%= @color_bar_library_widget.color_position %>
</p>

<p>
  <strong>Color:</strong>
  <%= @color_bar_library_widget.color %>
</p>

<%= link_to 'Edit', edit_color_bar_library_widget_path(@color_bar_library_widget) %> |
<%= link_to 'Back', color_bar_library_widgets_path %>
