<%= form_with(model: color_bar_widget, local: true) do |form| %>
  <% if color_bar_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(color_bar_widget.errors.count, "error") %> prohibited this color_bar_widget from being saved:</h2>

      <ul>
      <% color_bar_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
