<p id="notice"><%= notice %></p>

<h1>Color Scheme Widgets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @color_scheme_widgets.each do |color_scheme_widget| %>
      <tr>
        <td><%= link_to 'Show', color_scheme_widget %></td>
        <td><%= link_to 'Edit', edit_color_scheme_widget_path(color_scheme_widget) %></td>
        <td><%= link_to 'Destroy', color_scheme_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Color Scheme Widget', new_color_scheme_widget_path %>
