<!DOCTYPE html>
<html>
  <head>
    <title>Extchrome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'widgets' %>
  </head>

  <body data-props="<%= Widget.all.as_json(only: [:colornumber]).to_json %>">
    <%= yield %>
  </body>
</html>
